* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 0.1px);
  font-size: 14px;
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 17.5rem;
  padding: 1.5rem;
  display: block;
  background-color: hsl(216, 50%, 16%);
  border-radius: 0.9rem;
  box-shadow: 20px 25px 15px rgb(0, 0, 0, 0.25);
}

.container img {
  max-width: 100%;
  border-radius: 0.5rem;
}
ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  list-style-type: none;
  font-weight: 400;
}
h1 {
  font-size: 1.4rem;
  color: hsl(0, 0%, 100%);
  margin: 1.2rem 0;
  font-weight: 600;
}
p {
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 300;
}
.eth {
  color: hsl(178, 100%, 50%);
}
.ethicon {
  display: flex;
  margin-right: 0.4rem;
}
.clock {
  display: flex;
  margin-right: 0.4rem;
}
ul {
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1px hsl(215, 32%, 27%) solid;
}
.creator {
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.creator img {
  margin-right: 1rem;
  border: 0.1rem white solid;
  border-radius: 50%;
  max-width: 11%;
}
.creator span {
  color: hsl(0, 0%, 100%);
}
